[submodule "drone-gitea-release"]
	path = drone-gitea-release
	url = https://github.com/s-weigand/drone-gitea-release.git
[submodule "drone-runner-docker"]
	path = drone-runner-docker
	url = https://github.com/s-weigand/drone-runner-docker.git
[submodule "drone-git"]
	path = drone-git
	url = https://github.com/s-weigand/drone-git.git
[submodule "drone-s3"]
	path = drone-s3
	url = https://github.com/s-weigand/drone-s3.git
[submodule "drone-s3-cache"]
	path = drone-s3-cache
	url = https://github.com/s-weigand/drone-s3-cache.git
[submodule "drone-cache"]
	path = drone-cache
	url = https://github.com/s-weigand/drone-cache.git
